*  /* selectionneur universel */
body
{
    background-color: #ECF0F1; 
}
h1
{
    text-align: center;
    color:red;
    font-family: "Arial";
}
p1
{
    
    font-familly:-apple-system,BlinkMacSystemFont,noto sans,system-ui,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;

    
}
h2
{
    text-align:center;
    font-size:x-large;
    font-family: "Arial";
    
        
}
h3
{
    font-family: "Arial";

}
p2
{
    font-family: "Gadugi";
    text-align: right;
}
h4
{
    font-size: xx-large;
    font-family: "Arial";
    text-align: center;
}
